body{
    background-color: #000000;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
.ap-modal-window-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
.ap-modal-window{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.ap-modal-window__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.ap-modal-window__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #1062AA;
}
.ap-modal-window__inp,
.ap-modal-window__btn{
    width: 100%;
    max-width: 260px;
    height: 50px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
}
.ap-modal-window__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}
.ap-modal-window__inp{
    margin-bottom: 20px;
    border: 2px solid #1062AA;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    outline: none;
}
.ap-modal-window__btn-blue{
    background-color: #1062AA;
    color: #FFFFFF;
}
.ap-modal-window__btn-blue:hover{
    background-color: #F7B916;
    color: #1062AA;
}
.ap-modal-window__btn-yellow{
    background-color: #FFE735;
    color: #333333;
}
.ap-modal-window__btn-yellow:hover{
    background-color: #1062AA;
    color: #FFFFFF;
}
.ap-modal-window__btn-empty{
    width: 200px;
    color: #1062AA;
    background-color: #fff;
    border: 1px solid #1062AA;
}
.ap-modal-window__btn-empty:hover{
    background-color: #1062AA;
    color: #FFFFFF;
}
.ap-modal-window__btn-transparent{
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #81859C;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}
.ap-modal-window__btn-transparent:hover{
    color: #1062AA;
}
/*modal 1-2*/
.ap-modal-window-sm{
    width: 100%;
    max-width: 400px;
    padding-bottom: 50px;
}
.ap-modal-window-sm__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ap-modal-window-sm__img{
    background-color: #6FC6AD;
}
.ap-modal-window-sm__text{
    margin: 22px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-sm__title-two{
    font-size: 28px;
    line-height: 34px;
}
/*modal 3-6*/
.ap-modal-window-md{
    width: 100%;
    max-width: 650px;
    padding: 66px 20px;
}
.ap-modal-window-md__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 390px;
    margin-left: auto;
}
.ap-modal-window-md__text{
    margin-top: 20px;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-md__text span{
    text-transform: uppercase;
    font-weight: 700;
    color: #1062AA;
}
.ap-modal-window-md__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
.ap-modal-window-md__img{
    position: absolute;
    top: 0;
    left: 0;
}
/*basket modals*/
.ap-modal-window-basket{
    width: 100%;
    max-width: 560px;
    padding-top: 55px;
    padding-bottom: 68px;
}
.ap-modal-window-basket--lg{
    max-width: 650px;
}
.ap-modal-window-basket__img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.ap-modal-window-basket__text{
    text-align: center;
    margin-bottom: 35px;
}
.ap-modal-window-basket__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #333333;
}
.ap-modal-window-basket__promo{
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}
.ap-modal-window-basket__promo-gray{
    color: #81859C;
}
.ap-modal-window-basket__promo span{
    font-weight: 700;
}
/*modal 7*/
.ap-modal-window-7-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    color: #1062AA;
}
.ap-modal-window-7-text span{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #F7B916;
    color: #333333;
}
.ap-modal-window-7-text span:after{
    content: "";
    position: absolute;
    top: -10px;
    right: -1px;
    width: 8px;
    height: 8px;
    background-color: #F7B916;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
/*modal 8*/
.ap-modal-window-8-text{
    margin: 11px 0;
    font-size: 21px;
    line-height: 30px;
    color: #333333;
}
.ap-modal-window-8-sale{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #1062AA;
}
.ap-modal-window-8__btns{
    display: flex;
    justify-content: center;
    width: 100%;
}
.ap-modal-window-8__btns .ap-modal-window__btn{
    margin: 0 11px;
}
/*modal 9*/
.ap-modal-window-9__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/*modal 10*/
.ap-modal-window-cart{
    width: 100%;
    max-width: 500px;
    padding: 50px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #1062AA;
}
.ap-modal-window-cart--md{
    max-width: 550px;
}
.ap-modal-window-cart__img{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.ap-modal-window-cart__title{
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-cart__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}
.ttu{
    text-transform: uppercase;
}
.txt-red{
    color: #EF5237;
}
.ap-modal-window-cart__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-cart__timer{
    color: #EF5237;
}
.ap-modal-window-cart__text a,
.ap-modal-window-cart__text .link{
    color: #1062AA;
    text-decoration: none;
}
.ap-modal-window-cart__title-big{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-cart__text-2{
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-cart--blue{
    padding: 103px 15px;
    background-color: #1062AA;
}
.ap-modal-window-cart--blue .ap-modal-window-cart__title-big{
    color: #FFE735;
}
.ap-modal-window-cart--blue .ap-modal-window-cart__text-2{
    color: #FFFFFF;
}
.ap-modal-window-cart--blue .ap-modal-window__btn-yellow:hover{
    background-color: #fff;
    color: #333333;
}

@media all and (min-width: 320px) and (max-width: 767px){
    .ap-modal-window{
        width: 90%;
    }
    .ap-modal-window-md__img{
        display: none;
    }
    .ap-modal-window__title {
        font-size: 26px;
        line-height: 30px;
    }
    .ap-modal-window-basket{
        padding: 30px 15px;
    }
    .ap-modal-window-basket__img{
        margin-bottom: 20px;
    }
    .ap-modal-window-basket__text{
        margin-bottom: 20px;
    }
    .ap-modal-window-7-text{
        margin: 10px 0;
    }
    .ap-modal-window-7-text span{
        height: auto;
        width: auto;
        background-color: transparent;
        color: inherit;
    }
    .ap-modal-window-7-text span:after{
        display: none;
    }
    .ap-modal-window-8-text{
        margin-bottom: 0;
        font-size: 18px;
    }
    .ap-modal-window-8__btns{
        flex-direction: column;
        align-items: center;
    }
    .ap-modal-window-8__btns .ap-modal-window__btn-empty{
        order: 2;
        width: auto;
        height: auto;
        margin-top: 12px;
        border: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #81859C;
    }
    .ap-modal-window-8__btns .ap-modal-window__btn-empty:hover{
        background-color: transparent;
        color: #1062AA;
    }
    .ap-modal-window-cart__text div,
    .ap-modal-window-cart__text-2 div{
        display: inline;
    }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .ap-modal-window{
        max-height: 90vh;
        overflow-y: auto;
    }
}