body{
    background-color: #000000;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
.ap-modal-window{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.ap-modal-window__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.ap-modal-window__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #1062AA;
}
.ap-modal-window__inp,
.ap-modal-window__btn{
    width: 100%;
    max-width: 260px;
    height: 50px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
}
.ap-modal-window__inp{
    margin-bottom: 20px;
    border: 2px solid #1062AA;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    outline: none;
}
.ap-modal-window__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: #1062AA;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}
.ap-modal-window__btn:hover{
    background-color: #F7B916;
    color: #1062AA;
}
/*modal 1-2*/
.ap-modal-window-sm{
    width: 100%;
    max-width: 400px;
    padding-bottom: 50px;
}
.ap-modal-window-sm__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ap-modal-window-sm__img{
    background-color: #6FC6AD;
}
.ap-modal-window-sm__text{
    margin: 22px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-sm__title-two{
    font-size: 28px;
    line-height: 34px;
}
/*modal 3-6*/
.ap-modal-window-md{
    width: 100%;
    max-width: 650px;
    padding: 66px 20px;
}
.ap-modal-window-md__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 390px;
    margin-left: auto;
}
.ap-modal-window-md__text{
    margin-top: 20px;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: #333333;
}
.ap-modal-window-md__text span{
    text-transform: uppercase;
    font-weight: 700;
    color: #1062AA;
}
.ap-modal-window-md__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
.ap-modal-window-md__img{
    position: absolute;
    top: 0;
    left: 0;
}


@media all and (min-width: 320px) and (max-width: 767px){
    .ap-modal-window{
        width: 90%;
    }
    .ap-modal-window-md__img{
        display: none;
    }
    .ap-modal-window__title {
        font-size: 26px;
        line-height: 30px;
    }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .ap-modal-window{
        max-height: 90vh;
    }
}